@import 'partials/colors';


.navbar {
	position: relative;
	top: 20px;
	padding-bottom: 20px;
	border: 0;
	border-bottom: 1px solid $navLineColor;
	background: 0 0;
	
	.navbar-brand {
		padding : 0;
		background : url('/assets/images/logo.png') 0 0 no-repeat;
		width : 100px;
	}
	.navbar-left {
		li a{
			padding : 0px 10px;
			margin: 11px 0;
		}
		li:last-child a{
			margin : 0;
			padding : 15px;
		}
	}
	form {
		margin : 0px;
		input,
		button{
			height : 50px;
		}
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			.searchInput{
				width:400px!important;
			}
		}
		@media (min-width: $screen-lg-min) {
			.searchInput{
				width:600px!important;
			}
		}
		
	}
	.navbar-right {

	}
}

