$navColor : white;
$navLineColor : #e7e7e7;


$screen-xs-max : 768px;
$screen-sm-max : 992px;
$screen-md-min : 992px;
$screen-md-max : 1200px; 
$screen-lg-min : 1200px;



// @media (max-width: $screen-xs-max) 
// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) 
// @media (min-width: $screen-md-min) and (max-width: $screen-md-max) 
// @media (min-width: $screen-lg-min) 
