.index, .settings {
	.nav-tags {
		margin: 15px 0;
		border: 2px solid $themeColor;
		border-radius: 5px;
		>div {
			padding: 0px;
			&:first-child{
				h4 {
					border:0px;
				}
			}
			h4 {
				padding-left: 0.8em;
				border-left: 2px solid $themeColor;
				width: 1.8em;
			}
			ul {
				float: left;
				padding: 0;
				margin: 0.5em 0px 9px 30px;
				@media (max-width: $screen-md-max){ 
					margin: -0.6em;
				}
				@media (max-width: $screen-sm-max){ 
					margin: -0.2em;
				}
				position: absolute;
				top: 10px;
				font-size: 0.9em;
				li{
					float: left;
					width: 50%;
					text-align: center;
					@media (max-width: $screen-md-max){ 
						padding-left:30%;
						width: 100%;
					}
					list-style-type: none;	
				}
			}
		}
	}

	.index-main, .settings-content {
		
		.videos-head-category,.videos-nohead-category{
			.video-list {
				padding: 0px;
				@media (max-width: $screen-xs-max) {
					padding-left:15px;
				}
			}
			.video-list >div{ 
				padding: 0px;
				padding-left: 20px;
				padding-bottom: 20px;
				@media (max-width: $screen-xs-max) {
					padding-left:15px;
				}
				.video-content p {
					&.video-content-title{
						font-size: 1em;
					}
					&.video-content-subtitle{
						font-size: 0.8em;
					}
					&.video-content-icons {
						font-size: 0.8em;
					}
				}
			}
			.video-nav {
				h2{
					display: inline-block;
					a{
						color: $themeDeepColor;
					}
				}
				a {
					margin: 0 0.2em;
				}
			}
			.video-thumbnail {
				>a {
					display: block;
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 135px;
					}
					.video-thumbnail-title {
						padding: 0 5px;
						position: relative;
						margin-top: -22px;
						@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
							margin-top: -22px+2px;
						}
						@media (max-width: $screen-sm-max) {
							margin-top: -22px+2px+3px;
						}
						color: white;
						background-color: rgba(0, 0, 0, 0.5);
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#5f000000,endColorstr=#5f000000);
						span {
							.fa {
								color:white;
							}
							&.icons{
								float:right;
							}
						}
					}
				}
			}
			.video-content {
				padding: 5px 10px;
				background-color: $backgroundGrayColor;
				p {
					&.video-content-title{
						font-size: 1.2em;
					}
					&.video-content-subtitle{
						font-size: 0.9em;
						a {
							color: $fontGrayColor;	
							&:hover{
								color: $themeColor;
							}
						}
					}
					&.video-content-icons{
						a:last-child{
							float:right;
						}
					}
					margin : 0;
				}
			}
			.fa {
				color:$iconColor;
			}
			.fa:hover{
				color: $themeColor;
			};
		}
		.videos-head-category{
			.video-head{
				padding-bottom: 20px;
				@media (max-width: $screen-xs-max) {
					padding-bottom: 15px;
				}
				.video-thumbnail a img{
					height: 317px;
				}
				.video-content {
					padding: 20px 20px;
					@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
						padding: 15.5px 20px;
					}
					@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
						padding: 15.5px 20px;
					}
				}
			}
			.video-list {
				@media (max-width: $screen-xs-max) {
					padding-left:15px;
				}
			}
		}
		.videos-nohead-category {
			.video-list {
				margin-top:-10px;
				margin-bottom: 10px;
				padding: 0 5px;
				@media (max-width: $screen-xs-max) {
					padding:0px;
					padding-right: 15px;
					margin-top:0px;
				}
			}
			.video-list >div{ 
				@media (max-width: $screen-xs-max) {
					&:nth-last-child(1),&:nth-last-child(2){
						visibility:hidden;	
						display: none;
					}
					padding:0px;
					padding-left:15px;
					padding-bottom: 15px;
				}
				padding: 10px;
			}
		}
	}
}