.settings {
	min-height: 450px;
	padding-top: 2em;
	.settings-menu {
		ul {
			padding: 0;
			li {
				padding: 0.5em 1em;
				list-style-type: none;
				margin-bottom: 0.7em;
				a {
					display: block;
				}
				&.active,&:hover {
					background-color: $backgroundGrayColor;
					a {
						color: $themeColor;
					}
				}
			}
			@media (max-width: $screen-xs-max) { 
				border:2px solid $themeColor;
				border-radius:5px;
				padding:10px;
				margin-bottom:30px;
				li {
					width:32.7%;
					display:inline-block;
				}
			}
		}
	}
	.settings-content {
		form {
			width: 100%;
			.avatar {
				margin-top: 2em;
				img{
					width: 100px;
					border:2px solid $backgroundColor;
					&:hover {
						border-radius:100px;
						border:2px solid $themeColor;
					}
				}
			}
		}
	}
	&.unfinished,&.collect ,&.history{
		.settings-content {
			>div {
				margin-left: 0;
				>div {
					padding: 0;
						padding-right: 1em;
						padding-bottom: 1em;
					a {
						display: block;
						img {
							width: 100%;
						}
					}
					.time {
						display: block;
						background-color: $blackRgbaColor;
						position: absolute;
						color: $backgroundColor;
						font-size: 0.8em;
						right: 1.3em;
						margin-top: -1.4em;
					}
					p.title {
						margin: 0;
						font-size: 1em;
					}
					p.subtitle {
						margin: 0;
						font-size: 0.8em;
					}
				} 
			}

		}
	}

	&.questionnaire {
		.settings-content {
			ul {
				padding: 0px;
				li {
					margin-bottom: 1em;
					list-style-type: none;
				}
			}
		}
	}
}
