.tags{
	.tag-choose {
		width:100%;
		min-height:6em;
		border: 2px solid $lineColor;
		border-radius: 5px;
		padding: 15px;
		margin-bottom: 30px;
	}
	.course-list {
		border: 2px solid $lineColor;
		border-radius: 5px;
		padding: 15px;
		margin-bottom: 30px;
		ul {
			li {
				list-style-type: none;
			}
		}
	}
	.result-content {
		>div {
			margin-left: 0;
			>div {
				padding: 0;
					padding-right: 1em;
					padding-bottom: 1em;
				a {
					display: block;
					img {
						width: 100%;
					}
				}
				p.title {
					margin: 0;
					font-size: 1em;
				}
				p.subtitle {
					margin: 0;
					font-size: 0.8em;
				}
			} 
		}
	}
}